::-webkit-scrollbar {
    background: #f1d372;
    border-radius: 1px;
    width: 5px;
}

.orders_card_container {
    // overflow-y: hidden;
    height: 600px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 5px 0 0;
}

.orders_card_content {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.orders_card_content_image {

    img {
        width: 70px;
        border-radius: 20px;
    }
}

.orders_card_content_price {
    display: flex;
    // flex-direction: column;
    gap: 10px;
}

.orders_card_content_icon {
    width: 20px;
    background-color: #f1d372;
    border-radius: 50%;
    transition: 0.5s ease;
    cursor: pointer;

    &:hover {
        transform: rotate(180deg);
    }
}

.icon_orders_content {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.icon_orders {
    width: 30px;
    cursor: pointer;
    transition: 0.5s ease;
}


.orders_card_content_detalle {
    display: flex;
    justify-content: center;
    gap: 40px;

    p {
        text-decoration: none;
        color: black;
    }
}